:root {
    --font-primary: 'Poppins', sans-serif;
}

.font {
    font-family: var(--font-primary);
}

/* header section start here*/

.headline {
    font-size: 50px;
    color: bisque;
}

/* header section end here*/
.fa-solid {

    color: gold;
}


.fa-regular {
    color: gold;
}

.fa-brands {
    color: white;
}