:root {
    --font-primary: 'Poppins', sans-serif;
}

.font {
    font-family: var(--font-primary);
}

/* header section start here*/

.headline {
    font-size: 50px;
    color: bisque;
}

/* header section end here*/

/* explore-info section here start */
.explore-info {}